* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    /* --main-color: #c00000;
    --text-color: #333;
    --background-color: #f4f4f4; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
}

.site-head div {
    padding: 0.5rem 2rem;
    margin: 0 0 0.5rem 1rem;
    border: black 1px solid;
}

.site-head button {
    background-color: unset;
    padding: 0.5rem;
    padding: 0.5rem 2rem;
    margin: 0 1rem 0.5rem 0;
    border: black 1px solid;
}

.header-nav {
    width: 100%;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding: 0.5rem;

}

.header-nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
}

.page-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 0.5rem;
}

.page-head h1 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 2px black solid;
    margin: 0 0 1rem 0;
    
}

.page-head h2 {
    font-size: 0.75rem;
    padding: 0.5rem;
    width: 25rem;
}

.social-media {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-around;
    width: 9rem;
}

.fa {
    padding: 0.6rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
    background-color: #3b5998;
    color: white;
}

.fa-twitter {
    background-color: #1da1f2;
    color: white;
}

.fa-share-alt {
    background-color: #f9f9f9;
    color: black;
}

.main-image {
    width: 100%;
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 2rem;
    opacity: 0.25;
}

.main-text {
    padding: 0.5rem;
}

.main-text p {
    padding: 0 1rem;

}

.more-info {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-around;
}

.more-info h3 {
    width: 100%;
    padding: 0.5rem;
}

.iterative, .recursive {
    padding: 0.5rem;
    width: 45%;
}

.iterative ul, .recursive ul {
    list-style-type: '- ';
    list-style-position: inside;
}

footer {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    padding: 0.5rem;
}

.footer-nav {
    width: 60%;
}

.footer-nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0.5rem;
}

.footer-nav ul li {
    padding: 0.5rem;
}
